* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    background-color: hsl(235, 16%, 14%);
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

.contdown-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 80vh;
}

.stars {
    position: absolute;
}

.contdown-box h1 {
    color: #fff;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 3em;
}


.countdown-timer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.countdown-timer .countdown-div {
    margin: 0.6em;
}

.countdown-div h3 {
    color: hsl(237, 18%, 59%);
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 2px;
    margin-top: 0.6em;
}

.countdown-timer p {
    padding: 20px;
    font-size: 2.5rem;
    background-color: hsl(236, 21%, 26%);
    border-radius: 5px;
    color: hsl(345, 95%, 68%);
    overflow: hidden;
}


.social-media {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 30px;
    z-index: 999;
}

.social-media ul {
    display: flex;
}

.social-media ul li {
    margin: 0 20px;
}

.social-media ul li:hover {
    color: orange;
    cursor: pointer;
}

.mountain-img {
    position: absolute;
    bottom: 0;
}

@media screen and (max-width:400px) {
    .mountain-img {
        width: 100%;
        bottom: 0;
    }
}


@media screen and (min-width:1440px) {

    .stars img,
    .mountain-img img {
        width: 1600px;
    }
}